/* Overrides for light/dark.css */

:root {
    --chroma-bg: var(--code-bg);
}
/* Background */ .bg { color: var(--code); background-color: var(--chroma-bg); }
/* PreWrapper */ .chroma { color: var(--code); background-color: var(--chroma-bg); }
