<!DOCTYPE html>
<html lang="{{- default "" .Site.LanguageCode -}}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header>
            {{ partial "header.html" . }}
        </header>
        <main id="content">
            <div id="main">
                {{ block "main" . }}{{ end }}
            </div>
        </main>
        <section id="after-content">
            {{- block "after" . }}{{ end }}
            <hr style="margin-top: 4rem; margin-bottom: 0;"/>
        </section>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </body>
</html>
