<!DOCTYPE html>
<html lang="{{- default "" .Site.LanguageCode -}}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="accent-bar"></div>
    <header>
      {{ partial "header.html" . }}
    </header>
    <main id="content">
      <div id="main">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    <section class="after-content">
      {{- block "after" . }}{{ end }}
    </section>
    <br />
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
