{{ define "main" -}}
<div itemscope itemtype="https://schema.org/BlogPosting" class="h-entry">
  <article itemprop="mainEntityOfPage">
    <header id="post-header">
      <div class="post-meta" style="margin-top: 0">
        <p>
        <time itemprop="datePublished" datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
        </p>
      </div>
      <h1 style="margin-top: 0" itemprop="name headline" class="p-name">{{ .Title }}</h1>
    </header>
    <section class="e-content {{ .Params.font }}" itemprop="articlebody">
      {{ partial "processed-content" . -}}
    </section>
    <div class="post-meta" style="margin-bottom: 0; margin-top: 2rem;">
      <p>
      {{- partial "tags.html" (dict "Page" . "Prefix" "") }}
      </p>
    </div>
  </article>
</div>
{{- end }}
{{- define "after" }}
<hr />
<section class="box" style="padding-top: 1rem">
  <strong>Reply via email</strong>
  {{ $subject := printf "Re: %s" .Title }}
  <p>Thoughts, feedback, questions? My inbox is open. Start the conversation by dropping me an email at <a href="mailto:{{ .Site.Params.email }}?subject={{ $subject }}">hedy.dev[at]protonmail.com</a>.</p>
</section>
<br />

{{ with .Params.Syndications }}
<hr hidden=""/>
<section class="box" style="padding: 1rem">
  <strong>Read more</strong>
  <p>Continue exploring this topic by reading related discussion on the following places. This post has been syndicated on:</p>
  <ul>
    {{ range . }}
    <li>
    {{ with .mastodon }}<a href="{{ . }}">Mastodon</a> on the Fediverse
    {{ else }}
    {{ with .list }}<a href="{{ . }}">My blog-post mailing list</a>{{ end }}
    {{ end }}
    </li>
    {{ end }}
  </ul>
</section>
<br />
{{ end }}
<hr hidden="" />
<section style="margin-bottom: 1rem; padding: 1rem" class="box">
  <strong>Send a Webmention</strong>
  <p>This site supports <a href="https://indieweb.org/Webmention">Webmentions</a>. If you have written something on your site that has linked to this page, you can submit your URL here to notify me.</p>
  <form itemprop="potentialAction" itemscope="" itemtype="https://schema.org/CommentAction" action="https://webmention.io/home.hedy.dev/webmention" method="post">
    <meta itemprop="actionStatus" content="PotentialActionStatus">
    <input type="hidden" name="target" value="{{ .Permalink }}">
    <div style="display: flex; justify-content: space-between; gap: .5rem; height: 2.5rem;">
      <input style="flex-grow: 2; margin: 0;" id="wmsrc" type="url" autocomplete="on" required="" name="source" placeholder="https://your-awesome-site.example/mentioning-page">
      <input style="flex-shrink: 2; height: 100%; margin: 0;" type="submit" value="ping!">
    </div>
  </form>
</section>
{{- end }}
