{{ define "main" }}
<div itemscope itemtype="https://schema.org/BlogPosting" class="h-entry">
  <article itemprop="mainEntityOfPage">
    <header id="post-header">
      <h1 itemprop="name headline" class="p-name">{{ .Title }}</h1>
      {{ with .Description -}}
      <div class="post-description"><p><em>{{ . }}</em></p></div>
      {{- end }}
      <div class="post-meta">
        <p>
        <time  itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
        {{ partial "tags.html" . }}
        {{ partial "lastmod.html" . }}
        &nbsp;|&nbsp;
        <a href="{{ .Site.Params.logURLPrefix }}content/{{ .File.Path }}">Changelog</a>
        </p>
      </div>
      <hr>
    </header>
    <section class="e-content" itemprop="articlebody">
      {{ partial "processed-content" . -}}
    </section>
  </article>
</div>
{{ end }}
{{- define "after" }}
<p id="#EOF">EOF</p>
<section class="comments">
  <p>
  Questions, comments? Send an email to my
  <a href="mailto:~hedy/posts@lists.sr.ht">blog-post mailing list</a>
  (with <a href="https://useplaintext.email">plain text</a>)
  or to me <a href="mailto:hedy@tilde.cafe">directly</a>.
  </p>
</section>
{{- end }}
