/*
* Mostly based on simplecss.org
* Also based on cssbed, forgot which theme exactly, might be bamboo or
* "evenbettermotherfucking"
*
* Inspirations:
* - seirdy.one
* - kevq.uk
* - smol.pub
* - drewdevault.com
* - gregoryhammond.ca
*/

:root {
  --base-fontsize: 1rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;
  /* I don't want h1, h2, and h3 to be too big */
  --header-scale-minor: 1.1;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;
  --standard-border-radius: 0;

  --text-font: "IBM Plex Sans", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --alt-font: var(--text-font);
  --heading-font: var(--text-font);
  --body-font: var(--text-font);
  --mono-font: "IBM Plex Mono", "Fira Code", Hack, Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --body-mono-font: "iA Writer Duo", "iA Writer Mono", var(--mono-font);

  --bg: hsl(220deg, 23%, 97%);
  --accent-bg: #dce0e8;
  --accent-bg-light: #ebeef2;
  --code-bg: #fbfcff;
  --text: #323442;
  --text-light: #6e707e;
  --non-text-light: #9ca0b0;

  --border: #8c8fa1;
  --border-light: #c7cbd9;
  --accent: #1e66f5;
  --accent-light: #7287fd;
  --button-bg: #89b4fa;
  --button-border: var(--button-bg);
  --button-text: var(--text);
  --button-hover: var(--bg);
  --code: var(--text);
  --preformatted: var(--code);
  --marked: #e5c890;
  --disabled: #efefef;

  --link: #1e66f5;
  --link-visited: #7287fd;
  --link-alt: var(--link);
  --link-nav: #5c5f77;

  --selection-bg: rgba(114, 135, 253, 20%);
  --headings: #54587b;
}

@media (max-width: 600px) {
  :root {
    /* Major second */
    --header-scale: 1.125;
  }
}

:root {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
}

::selection {
  background-color: var(--selection-bg);
}

strong {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2d2d38;
    --accent-bg: #585b70;
    --accent-bg-light: #3a3a44; /* Adjusted from bg */
    --code-bg: #181926; /* Crust of Macchiato */
    --text: #d6ddf4;
    --text-light: #a6adc8;
    --code: #e1e6f6;
    --non-text-light: #6c7086;

    --button-bg: var(--accent-bg);
    --button-border: var(--border-light);

    --border: #aaa;
    --border-light: #565656;
    --accent: #8be9fd;
    --accent-light: #ece1a1;
    --disabled: #111;

    --headings: var(--text);

    --link: var(--blue);
    --link-visited: var(--lavender);
    --link-alt: var(--yellow);
    --link-nav: #b0bce3;

    --selection-bg: rgba(238, 190, 190, 30%);

    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
  }

  img:not(.pfp), video {
    opacity: .9;
  }
  img.icon {
    opacity: 1;
  }

  .badges img, img.no-dim {
    opacity: 1;
  }
}

html {
  font-size: 17px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--text-font);
  font-size: var(--base-fontsize);
  font-weight: 400;
  line-height: var(--line-height);

  margin: auto;
}

/*******************************************************************
* Body elements
*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.1rem;
  font-family: var(--heading-font);
  font-weight: normal;
}
h2, h3, h4, h5, h6 {
  color: var(--headings);
  font-weight: 500;
}
:is(h2,h3,h4,h5,h6):target {
  outline: 3px dotted;
  outline-offset: 5px;
}
h1 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale-minor) * var(--header-scale-minor));
  margin-top: calc(var(--line-height) * 1.3rem);
}
h2 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale-minor) * var(--header-scale-minor));
  margin-top: calc(var(--line-height) * 1.2rem);
}
/* Let the user agent decide */
h3 {
	/* font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale-minor)); */
	margin-top: calc(var(--line-height) * 1.1rem)
}
/* h4 { */
/* 	font-size: calc(var(--base-fontsize) * var(--header-scale)); */
/* } */
/* h5 { */
/* 	font-size: var(--base-fontsize); */
/* } */
/* h6 { */
/* 	font-size: calc(var(--base-fontsize) / var(--header-scale)); */
/* } */

blockquote {
  margin-left: 0;
  padding-left: 1.25rem;
  border-left: 3px solid var(--text-light);
  opacity: .85;
}

@media (max-width: 600px) {
  blockquote {
    margin: 0;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
table caption {
  font-weight: 600;
  margin-bottom: .5rem;
}
table.no-header thead {
  display: none;
}
td,
th {
  border: 1px solid var(--border-light);
  text-align: left;
  padding: .5rem;
}
th:empty {
  visibility: hidden;
}
th {
  background: var(--accent-bg-light);
  font-weight: 600;
}

small {
  font-size: .8rem;
  color: var(--text-light);
}

ul li {
  /* Fix sizing of tap target when it's a list of links */
  margin-bottom: 0.5rem;
}

/* Use mono font for code like elements */
code,
pre,
pre span,
kbd,
samp {
  font-family: var(--mono-font);
  font-size: 98%;
}

/* Inline code snips hopefully */
:not(pre)>code, :not(pre)>samp, kbd {
  background-color: var(--code-bg);
  border: 1px solid var(--border-light);
  /* border-radius: 6px; */
  padding: .01em .1em;
}

kbd {
  color: var(--preformatted);
  border: 1px solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: 5px;
  padding: .1rem;
}

/* This would be overridden by chroma if the page wants highlighting */
pre {
  padding: .8rem 1rem;
  max-width: 100%;
  overflow: auto;
  color: var(--preformatted);
  background: var(--code-bg);
  border: 1px solid var(--border-light);
  border-radius: 0;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Fix embedded code within pre */
pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;

  tab-size: 4;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

hr {
  color: var(--border-light);
  border-color: var(--border-light);
  border-style: solid;
  border-width: 0.5px;
  margin: 1rem auto;
}

mark {
  padding: 2px 5px;
  border-radius: 4px;
  background: var(--marked);
}

main img, main video {
  max-width: 100%;
  border-radius: 5px;
}

figure img {
  display: block;
  margin: auto;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .9rem;
  color: var(--text-light);
  text-align: center;
  margin-bottom: 1rem;
}

/* Format the expanding box */
details {
  padding: .6rem 1rem;
  border: 1px solid var(--border-light);
  background-color: var(--accent-bg-light);
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: 600;
}

details[open] {
  padding-bottom: .75rem;
}

details[open] summary {
  margin-bottom: .5rem;
}

details[open]>*:last-child {
  margin-bottom: 0;
}

/*******************************************************************
* Nav
*/
nav {
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 1.5rem;
  margin-bottom: 5rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav div {
  display: inline;
}

nav span a.rss {
  display: inline-block;
}

nav span a .lucide-rss {
  vertical-align: middle;
}

nav li a {
  text-decoration: none;
  margin-top: 1rem;
  font-weight: 450;
  padding: .75rem .75rem;
}
nav a, nav a:visited, nav span {
  color: var(--link-nav);
}
nav li a:not(:has(.pfp)):hover, nav li a:not(:has(.pfp)):visited:hover {
  color: var(--flamingo);
  transition: .25s;
  background-color: var(--accent-bg-light);
}

@media (max-width: 600px) {
  /* Center-aligned nav on mobile */
  nav {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 0;
    padding-left: .5rem;
    padding-right: 1rem;
  }
  nav li:has(#home) {
    display: none;
  }
  nav li a {
    padding: .75rem .5rem
  }
}
@media (max-width: 350px) {
  nav li a {
    padding: .75rem .2rem
  }
}

/* Idea from seirdy.one to have unstyled unordered-list nav */
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li, nav strong > a {
  display: inline-block;
}
nav ul li {
  margin-bottom: 0;
}

.pfp {
  border: 1px solid var(--border-light);
  border-radius: 100%;
}

nav .pfp {
  height: 1.75rem;
  vertical-align: bottom;
}

/*******************************************************************
* Homepage
*/
.accent-bar {
  display: grid;
  grid-template-columns: repeat(14,1fr);
  width: 100%;
  height: 5px;
  background-color: var(--non-text-light);
  background-image: linear-gradient(90deg,var(--lavender),var(--flamingo),var(--rosewater),var(--maroon),var(--peach),var(--green),var(--teal));
  background-size: 400% 100%;
  background-position: left;
  animation: gradient 2s linear infinite forwards;
}
@media (prefers-color-scheme: dark) {
  .accent-bar {
    background-image: linear-gradient(90deg,var(--blue),var(--mauve),var(--lavender),var(--flamingo),var(--red),var(--maroon),var(--peach));
    background-size: 200% 100%;
    background-position: 50%;
  }
}

.hero {
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.hero h1 {
  font-size: 2rem;
  color: var(--headings);
}

.webrings {
  text-align: center;
}
.webrings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 601px) {
  /* Two columns on desktop */
  .webrings ul {
    display: flex;
    flex-wrap: wrap;
  }
  .webrings li {
    width: calc(50% - .65rem);
  }
  .webrings li:nth-child(odd) {
    margin-right: 1rem;
  }
  /* If there's an even number of children, make the first one take the full
* width */
  .webrings:has(li:last-child:nth-child(odd)) li:first-child {
    width: 100%;
  }
  .webrings:has(li:last-child:nth-child(odd)) li:nth-child(odd) {
    margin-right: 0;
  }
  .webrings:has(li:last-child:nth-child(odd)) li:nth-child(even) {
    margin-right: 1rem;
  }
}
.webrings li {
  margin-bottom: 1.2rem;
  border: 1px solid var(--border-light);
  background-color: var(--accent-bg-light);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: .5rem;
}
.webrings li p {
  padding: 0 1rem;
  text-align: left;
  margin: 0;
}
.webrings li p:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;

  padding: 0;
  margin-top: .5rem;
}
.webrings li p:last-child a {
  text-decoration: none;
}
.webrings li p:first-child {
  padding-top: 1rem;
}
.webrings .arrow {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.guestbook form > p {
  margin: 0;
}

.guestbook input, .guestbook textarea {
  width: calc(100% - 1rem);
  max-width: calc(100% - 1rem);
  font-family: var(--mono-font);
  font-size: .9rem;
}

.guestbook label {
  margin-top: 1rem;
}

.guestbook input[type="submit"] {
  height: 100%;
  width: max-content;
}

.guestbook textarea {
  resize: vertical;
}

.guestbook {
  padding-bottom: 0;
}

ul.guestbook-entries {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.guestbook-entries > li {
  padding-bottom: 0;
  font-size: .9rem;
  margin-bottom: 1.5rem;
}

ul.guestbook-entries > li > p:first-child {
  margin-bottom: 0;
}
ul.guestbook-entries > li > p:first-child > a {
  font-size: initial;
}

.badges img {
  height: 40px;
}

ul.blogroll {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.blogroll li:not(:last-child) {
  margin-bottom: 1.5rem;
}

ul.blogroll li > h2:first-child {
  margin-top: 1rem;
  margin-bottom: 0;
}

ul.blogroll li > p:nth-child(2) {
  margin-top: 0;
}

ul.blogroll li > p:nth-child(2) code {
  background-color: inherit;
  border: none;
  font-size: .8rem;
  color: var(--text-light);
  padding: 0;
  margin-top: 0;
}

/*******************************************************************
* Page sections
*/
main, .after-content {
  /* For better reading experience.
* I don't want paragraphs to be too narrow, it looks ugly; Though I don't
* want them to be too wide, either. Reading experience is important:
* https://en.wikipedia.org/wiki/Eye_movement_in_reading */
  max-width: 40rem;

  margin: auto;
  padding: 0 5%;
}

/* Tags */
.post-list .tags, .post-list time {
  font-size: .9rem;
}
.tags a,
.tags a:visited {
  text-decoration: none;
  color: var(--text-light) !important;
}

footer {
  font-size: .9rem;
  padding: 1.5rem 5%;
  padding-bottom: 2.5rem;
  color: var(--text-light);
}
footer img.pfp {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  margin-left: .5rem;
}
@media (prefers-color-scheme: light) {
  footer {
    background-color: var(--accent-bg-light);
  }
}
footer a, footer a:visited {
  color: var(--text-light);
}
footer p {
  margin: 0;
}
footer p:not(:first-child) {
  margin-top: 1rem;
}
footer a:not(:first-child) {
  margin-left: .5rem;
}
@media (min-width: 600px) {
  footer {
    text-align: center;
  }
  footer p:not(:first-child) {
    display: inline-block;
  }
  footer p:first-child {
    margin-right: 1rem;
  }
  footer p.last-line a:first-child {
    margin-left: .5rem;
  }
}

header p {
  text-align: left;
}
header pre {
  margin-bottom: 2rem;
  max-width:auto;
}

.post-date {
  margin-right: 1.5rem;
}

/*******************************************************************
* Links
*/
a {
  color: var(--link);
  text-underline-offset: 3px;
  text-decoration-thickness: 0.5px;
}
a:visited {
  color: var(--link-visited);
}
a[role=doc-noteref] {
  text-decoration: none;
}
a[role=doc-noteref],
a[role=doc-noteref]:visited {
  color: var(--link-alt);
}

.post-meta a:visited, .meta a:visited, .after-content a:visited {
  color: var(--link-alt);
}

a:hover,
:is(.meta, footer, .after-content) a:hover {
  opacity: .7;
  transition: .25s;
}

/* Differentiating between normal content links and meta content links */
.meta a, .after-content a {
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  .meta a, .after-content a {
    color: var(--link-alt);
  }
}

a:focus, form:focus {
  background-color: var(--accent-bg-light);
  text-decoration: none;
}
nav a:focus {
  background-color: initial;
  outline: none;
}

a.anchor {
  text-decoration: none;
  color: var(--non-text-light);
  padding-right: .2rem;
}

section[itemprop="articlebody"]
a[href^='http']:not([href^='https://home.hedy.dev/'],.no-ext,:has(img)):after {
  content: "↗" / " (external)";
  font-size: 0.75em;
  line-height: 0;
  text-decoration: none;
  position: relative;
  top: 0;
  line-height: 1em;
  color: var(--text-light);
}

/*******************************************************************
* Post components
*/
#post-header h1 {
  margin-bottom: 0.4rem;
  font-family: var(--heading-font);
}
#post-header {
  margin-bottom: 1.5rem;
}
.post-meta, .post-list time, .tags {
  font-family: var(--alt-font);
}
.post-meta {
  margin-top: 1rem;
}
.post-meta p {
  margin: 0;
}
.post-meta, .meta, footer {
  font-size: .9rem;
  color: var(--text-light);
}

section[itemprop="articlebody"] {
  font-family: var(--body-font);
}

section[itemprop="articlebody"].mono {
  font-family: var(--body-mono-font);
}
@media (min-width: 600px) {
  section[itemprop="articlebody"].mono {
    padding: 1rem 2rem;
    background-color: var(--accent-bg-light);
  }
}
section[itemprop="articlebody"].mono :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--body-mono-font);
}
blockquote.callout {
  background-color: var(--accent-bg-light);
  padding: .5rem 2rem;
  border-radius: var(--standard-border-radius);
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 600px) {
  blockquote.callout {
    padding: .25rem .5rem;
  }
}
blockquote.callout p.title{
  margin-top: .5rem;
}
blockquote.callout.note {
  padding-left: 1rem;
  padding-top: .5rem; /* for the label */
}
blockquote.callout.note {
  border-left: 3px solid var(--blue);
}

.box {
  padding: .5rem 1rem;
  background-color: var(--accent-bg-light);
  border: 1px solid var(--border-light);
}

#content div#main {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.footnotes {
  margin-top: 3rem;
  font-size: .9rem;
}
.footnotes ol {
  margin-top: none;
}
.footnotes a.back {
  color: var(--link-alt);
  text-decoration: none;
}
.footnotes li:target {
  outline: 2px dotted;
  outline-color: var(--link-alt);
  outline-offset: 3px;
}
a[role=doc-noteref]:target {
  outline: 3px dotted;
  outline-offset: 5px;
  outline-color: var(--accent-light);
}

ul.post-list {
  list-style: none;
  padding-left: 0;
}
.post-list h3, .post-list h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.post-list p {
  margin-top: 0;
  margin-bottom: .3rem;
}
.post-list p:has(time) {
  color: var(--text-light);
}
.after-content {
  font-size: .9rem;
}
/*******************************************************************
* Bookmarks
*/
.bookmarks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bookmarks h3 {
  margin-bottom: 0;
  margin-top: .5rem;
}
.bookmarks h3 ~ p {
  margin-top: 0;
}
.bookmarks h3 ~ p code {
  padding: 0;
  background-color: inherit;
  border: none;
  font-size: .8rem;
  color: var(--text-light);
}
.bookmarks .excerpt, .bookmarks .date {
  color: var(--text-light);
  font-family: var(--alt-font);
}
.bookmarks .excerpt {
  color: var(--text);
  margin-top: 0;
}
/*******************************************************************
* Chroma
*/
.chroma .lntable pre {
  border: 0;
  padding: 0;
}
.chroma .lntable {
  border: 1px solid var(--border);
  padding: .01em .1em;
}

/*******************************************************************
* Forms
*/
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button,
.button,
a.button, /* extra specificity to override a */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: 1px solid var(--button-border);
  background-color: var(--button-bg);
  color: var(--button-color);
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  line-height: normal;
  transition: .4s;
}

.button[aria-disabled="true"],
input:disabled,
textarea:disabled,
select:disabled,
button[disabled] {
  cursor: not-allowed;
  background-color: var(--disabled);
  border-color: var(--border);
  color: var(--text-light);
}
input[type="range"] {
  padding: 0;
}
/* Set the cursor to '?' on an abbreviation and style the abbreviation to show
* that there is more information underneath */
abbr[title] {
  cursor: help;
  text-underline-offset: 3px;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
button:enabled:hover,
.button:not([aria-disabled="true"]):hover,
input[type="submit"]:enabled:hover,
input[type="reset"]:enabled:hover,
input[type="button"]:enabled:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.button:focus-visible,
button:focus-visible:where(:enabled),
input:enabled:focus-visible:where(
[type="submit"],
[type="reset"],
[type="button"]
) {
  outline: 2px solid var(--accent);
  outline-offset: 1px;
}
textarea,
select,
input,
button,
.button {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--standard-border-radius);
  box-shadow: none;
  max-width: 100%;
  display: inline-block;
}
textarea,
select,
input {
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid var(--border-light);
}
label {
  display: block;
}
textarea:not([cols]) {
  width: 100%;
}

/* Add arrow to drop-down */
select:not([multiple]) {
  background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%),
    linear-gradient(135deg, var(--text) 51%, transparent 49%);
  background-position: calc(100% - 15px), calc(100% - 10px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-inline-end: 25px;
}
*[dir="rtl"] select:not([multiple]) {
  background-position: 10px, 15px;
}

/* checkbox and radio button style */
ul:has(li input[type="checkbox"]) {
  padding: 0
}
li:has(input[type="checkbox"]) {
  list-style: none;
  margin-inline-start: 3rem;
}
li input[type="checkbox"] {
  margin-right: .5rem;
  margin-left: -2rem;
  width: 1rem;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  position: relative;
  width: min-content;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--accent);
}

input[type="checkbox"]:checked::after {
  /* Creates a rectangle with colored right and bottom borders which is rotated
   * to look like a check mark */
  content: " ";
  width: 0.18em;
  height: 0.32em;
  border-radius: 0;
  position: absolute;
  top: 0.05em;
  left: 0.17em;
  background-color: transparent;
  border-right: solid var(--bg) 0.08em;
  border-bottom: solid var(--bg) 0.08em;
  font-size: 1.8em;
  transform: rotate(45deg);
}
input[type="radio"]:checked::after {
  /* creates a colored circle for the checked radio button  */
  content: " ";
  width: 0.25em;
  height: 0.25em;
  border-radius: 100%;
  position: absolute;
  top: 0.125em;
  background-color: var(--bg);
  left: 0.125em;
  font-size: 32px;
}
/* Makes input fields wider on smaller screens */
@media only screen and (max-width: 720px) {
  textarea,
  select,
  input {
    width: 100%;
  }
}
/* Set a height for color input */
input[type="color"] {
  height: 2.5rem;
  padding:  0.2rem;
}
/* do not show border around file selector button */
input[type="file"] {
  border: 0;
}
