<p>
© {{ with .Site.Params.CopyrightYearStart }}{{ . }}-{{ end -}}
{{ now.Format "2006" }}
</p>
<p>
 <a href="{{ .Site.Params.CopyrightLink }}">{{ .Site.Params.Copyright }}</a>
 <a href="/feeds/">Website Feeds</a>
 <a href="{{ .Site.Params.src }}">Source Code</a>
</p>
<p class="last-line">
{{ if eq .RelPermalink "/" }}
 <a rel="alternate" href="gemini://gmi.hedy.dev/">View on Gemini</a>
{{- else }}
{{- with .OutputFormats.Get "gemtext" }}
{{- $gemurl := replace (replace (replace .Permalink "/gemini" "" 1) "/index.gmi" ".gmi" 1) $.Site.Params.htmlBaseDomain $.Site.Params.geminiBaseDomain 1 }}
 <a rel="alternate" class="u-syndication" href="{{ $gemurl | safeURL }}">View on Gemini</a>
{{- end }}
{{- end }}
</p>
