<p>
  © {{ with .Site.Params.CopyrightYearStart }}{{ . }}-{{ end -}}
  {{ now.Format "2006" }}
  <span class="h-card p-author">
    <a
      itemprop="url"
      rel="author me home cc:attributionURL"
      href="{{ .Site.BaseURL }}" class="u-url">
      {{ partial "pfp-name.html" . }}
    </a>
  </span>
  <a href="{{ .Site.Params.CopyrightLink }}">{{ .Site.Params.Copyright }}</a>
</p>
<p>
 <a href="/feeds/">Website Feeds</a>
 <a href="/guestbook/">Guestbook</a>
 <a href="/#webrings">Webrings</a>
 <a href="https://raindrop.io/hedy/referrals-51123168">Referrals</a>
</p>
<p class="last-line">
{{ if eq .RelPermalink "/" }}
 <a rel="alternate" href="gemini://gmi.hedy.dev/">View on Gemini</a>
{{- else }}
{{- with .OutputFormats.Get "gemtext" }}
{{- $gemurl := replace (replace (replace .Permalink "/gemini" "" 1) "/index.gmi" ".gmi" 1) $.Site.Params.htmlBaseDomain $.Site.Params.geminiBaseDomain 1 }}
 <a rel="alternate" class="u-syndication" href="{{ $gemurl | safeURL }}">View on Gemini</a>
{{- end }}
{{- end }}
</p>
