<nav>
  <ul>
    <li>
      <a title="home" id="icon" href="/">{{ partial "pfp.html" }}</a>
    </li>
    <li>
      <a title="home" id="home" href="/">Home</a>
    </li>
    {{- $currentPage := . }}

    {{- range .Site.Menus.main.ByWeight }}
    {{- .Pre }}
    <li>
      <a href="{{ .URL }}"
        {{- if hasPrefix $currentPage.RelPermalink .URL }}class="selected"{{ end -}}
        title="{{ .Title  }}">{{- .Name -}}</a>
    </li>
    {{ .Post  -}}
    {{- end }}
  </ul>
  {{ $rss := resources.Get "icons/rss.svg" }}
  <span><a class="rss" href="/posts/index.xml">{{ $rss.Content | safeHTML }}</a></span>
</nav>
