{{ $canonicalRelPermalink := .RelPermalink | replaceRE "^/~hedy/" "/" -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ $description := "" -}}
{{- if .Params.description -}}
    {{- $description = .Params.Description -}}
{{- else if .IsHome -}}
    {{- $description = .Site.Params.Description -}}
{{- else if .Summary -}}
    {{- $description = .Summary | replaceRE `\n` ` ` | replaceRE `\&rsquo;` `’` | replaceRE `\&nbsp;` `\&#160;` | replaceRE `\&ldquo;` `“` | replaceRE `\&rdquo;` `”` | replaceRE `\&hellip;` `—` | replaceRE `\&mdash;` `—` | replaceRE `\&shy;` `\&#173;` | replaceRE `&lsquo;` `‘` | truncate 160 | replaceRE ` ([^ ]*)?$` `` | safeHTML -}}
{{- end -}}
<meta name="description" content="{{ $description }}">
<meta name="author" content="{{ .Site.Author.name }}">
<meta name="fediverse:creator" content="@hedy@tilde.zone">
<meta property="article:author" content="{{ .Site.Author.name }}">
{{ if gt .Date 0 -}}
<meta property="article:published_time" content="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" | safeHTML }}">
{{ end -}}
{{ if lt .Date .Lastmod -}}
<meta property="article:modified_time" content="{{ .Lastmod.UTC.Format "2006-01-02T15:04:05Z" | safeHTML }}">
{{- end -}}
<!-- Have concerns? My inbox is open. -->
<script data-goatcounter="https://stats.hedy.dev/count"
        async src="{{ (resources.Get "/goat.js").RelPermalink | safeHTML }}"></script>

<!--favicon-->
{{ $favicon_svg := resources.Get "/favicon.svg" | resources.Fingerprint "md5" }}
{{ $favicon192_png := resources.Get "/favicon192.png" | resources.Fingerprint "md5" }}
{{ $image512_png := resources.Get "/dotslash-brush-512.png" | resources.Fingerprint "md5" }}
{{- printf `<link rel="icon" sizes="any" href="%s" type="image/svg+xml">` $favicon_svg.Permalink | safeHTML }}
{{- printf `<link rel="icon" sizes="192x192" href="%s" type="image/png">` $favicon192_png.Permalink | safeHTML -}}

<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#f2f2f2" media="(prefers-color-scheme:light)"><!--(accent-bg-light)-->
<meta name="theme-color" content="#232326" media="(prefers-color-scheme:dark)"><!--(bg)-->
<meta name="format-detection" content="telephone=no">

<link rel="webmention" href="https://webmention.io/home.hedy.dev/webmention">
<link rel="pingback" href="https://webmention.io/home.hedy.dev/xmlrpc">
<link rel="alternate" type="application/rss+xml" href="/posts/index.xml" title="{{ $.Site.Title }}">
{{- if ne .Site.BaseURL "https://home.hedy.dev/" -}}
<meta name="robots" content="noindex">
{{- end -}}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net">

<meta name="color-scheme" content="light dark">
{{ $css := resources.Get "main.css" | minify -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ $fonts_css := resources.Get "fonts.css" | minify -}}
<style>{{ $fonts_css.Content | safeCSS }}</style>

{{ if eq "mono" .Params.font -}}
{{ $iawriter_css := resources.Get "iawriter.css" | minify -}}
<style>{{ $iawriter_css.Content | safeCSS }}</style>
{{- end }}

{{ if .Params.highlight -}}
{{ $syntaxlight := resources.Get "syntax/light.css" | minify -}}
{{ $syntaxdark := resources.Get "syntax/dark.css" | minify  -}}
{{ $syntaxcustom := resources.Get "syntax/custom.css" | minify  -}}
<style>
{{- $syntaxlight.Content | safeCSS }}
@media(prefers-color-scheme: dark){ {{- $syntaxdark.Content | safeCSS -}} }
{{- $syntaxcustom.Content | safeCSS }}
</style>
{{ end -}}

{{ if eq .RelPermalink "/" -}}
<title>{{ $.Site.Title }}</title>
{{ else -}}
<title>{{ .Title }}{{ .Site.Params.suffixTitle }}</title>
{{ end -}}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:site_name" content="{{ $.Site.Title }}">
{{- if (eq "page" .Kind) }}
<meta property="og:type" content="article">
{{ else -}}
<meta property="og:type" content="website">
{{ end -}}

{{ printf `<meta property="og:image" content="%s" />` $image512_png.Permalink | safeHTML }}
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="{{ $image512_png.Height }}" /><meta property="og:image:width" content="{{ $image512_png.Width }}" />
<meta property="og:url" content="{{ .Site.Params.canonicalBaseURL }}{{ $canonicalRelPermalink }}" />
<meta property="og:description" content="{{ $description }}" />
{{ hugo.Generator | replaceRE ">" " />" | safeHTML}}
