{{ $outerRel := .RelPermalink -}}
{{ if in $outerRel "posts" -}}
<h1>Posts</h1>
{{ else -}}
<h2>Posts</h2>
{{ end -}}
<p class="meta">
    <a href="{{ .Site.BaseURL }}tags/">Tags</a> |
    <a href="{{ .Site.BaseURL }}posts/index.xml">RSS feed</a> |
    <a href="{{ .Site.BaseURL }}posts/atom.xml">Atom feed</a>
</p>

<ul class="post-list">
    {{- range (where .Site.RegularPages "Section" "posts") }}
    <li>
        {{ if in $outerRel "posts" -}}
        <h2>
        {{ else -}}
        <h3>
        {{ end -}}
        <a href="{{ .Permalink }}">
            {{- .Title -}}
        </a>
        {{ if in $outerRel "posts" -}}
        </h2>
        {{ else -}}
        </h3>
        {{ end -}}
        <p>Posted:
            <time datetime="{{ .Date.Format "2006-01-02 15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
            {{ partial "lastmod.html" . }}
        </p>
        <p class="desc">{{ .Description }}</p>
    </li>
    {{- end }}
</ul>
