{{ $outerRel := .RelPermalink }}
{{ if in $outerRel "posts" -}}
<h1>Posts</h1>
{{ else -}}
<h2>Posts</h2>
{{ end -}}
<p class="meta"><a href="./tags.html">All tags</a> | <a href="./posts/index.xml">RSS feed</a></p>
<ul class="unstyled-list">
	{{ range (where .Site.RegularPages "Section" "posts") }}
	<li>
		<p>
		<time datetime="{{ .Date.Format "2006-01-02 15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
		—
		<a href="{{ .Permalink }}">
			{{- .Title -}}
		</a>
		</p>
	</li>
	{{- end }}
</ul>
