{{ $outerRel := .RelPermalink -}}

{{ if in $outerRel "posts" -}}
{{ partial "anchor-heading.html" (dict "Text" "Posts" "Level" 1 "Anchor" "posts") }}
<div class="p-summary">{{ .Content }}</div>

{{ else -}}
{{ partial "anchor-heading.html" (dict "Text" "Posts" "Level" 2 "Anchor" "posts") }}
{{ (.Site.GetPage "posts").Content }}
{{- end }}

<p class="meta">
<a href="/tags/">Tags</a> &nbsp;|&nbsp;
<a href="/posts/atom.xml">Atom</a> &nbsp;|&nbsp;
<a href="/posts/index.xml">RSS</a> &nbsp;|&nbsp;
<a href="https://lists.sr.ht/~hedy/posts">Subscribe via email</a>
</p>

<ul class="post-list">
  {{- range (where .Site.RegularPages "Section" "posts") }}
  <li class="h-entry hentry" itemprop="item" itemscope="" itemtype="https://schema.org/BlogPosting" itemid="{{ .Permalink }}">
    {{ if in $outerRel "posts" -}}
    <h2 itemprop="name headline" class="p-name">{{ else -}}
    <h3 itemprop="name headline" class="p-name">{{ end -}}
      <a itemprop="url" rel="bookmark" class="u-url" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ if in $outerRel "posts" -}}</h2>{{ else -}}</h3>{{ end -}}
      <p>
        <time class="dt-published published" datetime="{{ .Date.Format "2006-01-02 15:04:05Z" }}">{{ .Date.Format "Jan 02, 2006" }}</time>{{ partial "tags.html" (dict "Page" . "Prefix" "&nbsp; · &nbsp;") -}}
      </p>
      <p class="p-summary">{{ .Description }}</p>
  </li>
  {{- end }}
</ul>
