{{ $url := printf "%s%s" "https://webmention.io/api/mentions?target=" .Permalink }}
{{ $data := dict }}
{{ with resources.GetRemote $url }}
  {{ with .Err }}
    {{ errorf "Error fetching webmentions.io: %s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to fetch %q" $url }}
{{ end }}

{{ if eq (len $data.links) 0 }}
<p>There are no approved webmentions for this post yet.</p>
{{ else }}
  {{ $likes := slice }}
  {{ $hasLikes := false }}
  {{ $reposts := slice }}
  {{ $hasReposts := false }}
  {{ $others := slice }}
  {{ range $data.links }}
    {{ if eq .activity.type "like" }}
      {{ $likes = $likes | append . }}
      {{ $hasLikes = true }}
    {{ else }}
      {{ if eq .activity.type "repost" }}
        {{ $reposts = $reposts | append . }}
        {{ $hasReposts = true }}
      {{ else }}
        {{ $others = $others | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if $hasLikes }}
  <details class="interactions">
    <summary>Likes ({{ len $likes }})</summary>
    <p>
    {{ range $likes }}
      <a href="{{ .data.url }}">
        <img src="{{ .data.author.photo }}" class="icon" height="40" width="40" alt="Photo of {{ .data.author.name }}" />
      </a>
    {{ end }}
    </p>
  </details>
  {{ end }}
  {{ if $hasReposts }}
  <details class="interactions">
    <summary>Reposts ({{ len $reposts }})</summary>
    <p>
    {{ range $reposts }}
      <a href="{{ .data.author.url }}">
      <img src="{{ .data.author.photo }}" class="icon" height="40" width="40" alt="Photo of {{ .data.author.name }}" />
      </a>
    {{ end }}
    </p>
  </details>
  {{ end }}
  {{ if ne (len $others) 0 }}
  <details open="" class="interactions">
    <summary>Responses and other mentions ({{ len $others }})</summary>
    {{ range $others }}
      {{ $date := "" }}
      {{ if isset .data "published" }}
      {{ $date = time.AsTime .data.published }}
      {{ else }}
      {{ $date = time.AsTime .verified_date }}
      {{ end }}
      <div class="interaction">
        <div>
          <img src="{{ .data.author.photo }}" class="icon" height="40" width="40" alt="Photo of {{ .data.author.name }}" />
        </div>
        <div style="flex-grow: 1;">
          <span>
            <a href="{{ .data.author.url }}">{{ .data.author.name }}</a> · <time class="dt-published published" datetime="{{ .Date.Format "2006-01-02 15:04:05Z" }}">{{ time.Format "Jan 02, 2006" $date }}</time>
          </span>
          {{ with .data.content }}
          <blockquote class="content">{{ . | safeHTML }}</blockquote>
          {{ end }}
          <span class="source">Source: <a href="{{ .data.url }}">{{ .data.url }}</a></span>
        </div>
      </div>
    {{ end }}
  </details>
  {{ end }}
{{ end }}
