{{ $path := printf "data/%swebmentions.json" .Page.RelPermalink }}
{{ $data := slice }}
{{ with resources.Get $path }}
  {{ with .Err }}
    {{ errorf "Error fetching webmentions: %s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ end }}

{{ if eq (len $data) 0 }}
<p>There are no webmentions for this post yet.</p>
{{ else }}
  {{ $likes := slice }}
  {{ $hasLikes := false }}
  {{ $reposts := slice }}
  {{ $hasReposts := false }}
  {{ $links := slice }}
  {{ $hasLinks := false }}
  {{ $others := slice }}
  {{ range $data }}
    {{ if eq .activity.type "like" }}
      {{ $likes = $likes | append . }}
      {{ $hasLikes = true }}
    {{ else }}
      {{ if eq .activity.type "repost" }}
        {{ $reposts = $reposts | append . }}
        {{ $hasReposts = true }}
      {{ else }}
        {{ if eq .activity.type "link" }}
          {{ $links = $links | append . }}
          {{ $hasLinks = true }}
        {{ else }}
          {{ $others = $others | append . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if $hasLikes }}
  <details class="interactions">
    <summary>Likes ({{ len $likes }})</summary>
    <p>
    {{ range $likes }}
      <a href="{{ .data.url }}">
        <img src="{{ .data.author.photo }}" class="icon" height="40" width="40" alt="Photo of {{ .data.author.name }}" />
      </a>
    {{ end }}
    </p>
  </details>
  {{ end }}
  {{ if $hasReposts }}
  <details class="interactions">
    <summary>Reposts ({{ len $reposts }})</summary>
    <p>
    {{ range $reposts }}
      <a href="{{ .data.author.url }}">
      <img src="{{ .data.author.photo }}" class="icon" height="40" width="40" alt="Photo of {{ .data.author.name }}" />
      </a>
    {{ end }}
    </p>
  </details>
  {{ end }}
  {{ if $hasLinks }}
  <details open="" class="interactions">
    <summary>Links ({{ len $links }})</summary>
    <ul style="list-style: none; padding-left: 0;">
    {{ range $links }}
      <li>
        <p><time class="dt-published published" datetime="{{ time.Format "2006-01-02 15:04:05Z" .data.published }}">{{ time.Format "Jan 02, 2006" .data.published }}</time> · <a href="{{ .data.url }}">{{ .data.name }}</a></p>
      </li>
    {{ end }}
    </ul>
  </details>
  {{ end }}
  {{ if ne (len $others) 0 }}
  <details open="" class="interactions">
    <summary>Other mentions ({{ len $others }})</summary>
    {{ range $others }}
      {{ $date := "" }}
      {{ if isset .data "published" }}
      {{ $date = time.AsTime .data.published }}
      {{ else }}
      {{ $date = time.AsTime .verified_date }}
      {{ end }}
      <div class="interaction">
        <div>
          <img src="{{ .data.author.photo }}" class="icon" height="40" width="40" alt="Photo of {{ .data.author.name }}" />
        </div>
        <div style="flex-grow: 1;">
          <span>
            <a href="{{ .data.author.url }}">{{ .data.author.name }}</a> · <time class="dt-published published" datetime="{{ time.Format "2006-01-02 15:04:05Z" $date }}">{{ time.Format "Jan 02, 2006" $date }}</time>
          </span>
          {{ with .data.content }}
          <blockquote class="content">{{ . | safeHTML }}</blockquote>
          {{ end }}
          <span class="source">Source: <a href="{{ .data.url }}">{{ .data.url }}</a></span>
        </div>
      </div>
    {{ end }}
  </details>
  {{ end }}
{{ end }}
