{{ define "main" }}
{{ $path := "data/bookmarks.json" }}
{{ $data := slice }}
{{ with resources.Get $path }}
  {{ with .Err }}
    {{ errorf "Error fetching bookmarks: %s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ end }}
<div itemscope itemtype="https://schema.org/BlogPosting" class="h-entry">
  <article itemprop="mainEntityOfPage">
    <header id="post-header">
      <h1 itemprop="name headline" class="p-name">{{ .Title }}</h1>
    </header>
    <section class="e-content bookmarks" itemprop="articlebody">
      {{ partial "processed-content" . -}}
      <hr />
      <br />
      {{/* id,title,note,excerpt,url,tags,created,cover,highlights,favorite */}}
      {{ range $data }}
        <h3><a href="{{ .link }}">{{ .title }}</a></h3>
        {{ with .excerpt }}
          {{ $maxlen := 250 }}
          {{ $e := . }}
          {{ if gt (len $e) $maxlen }}
            {{ $e = slicestr $e 0 $maxlen }}
            {{ if gt (countwords $e) 1 }}
              {{/* Chomp last word */}}
              {{ $e = replaceRE ` [^ ]*$` "" $e }}
            {{ end }}
            {{ $e = printf "%s…" $e }}
          {{ end }}
          <p class="excerpt">{{ $e }}</p>
        {{ end }}
        {{ with .note }}
          <div class="callout">{{ . | markdownify }}</div>
        {{ end }}
        <p class="date dt-published">Bookmarked
          <time>{{ .created | time.Format "2006-01-02" }}</time></p>
      {{ end }}
    </section>
  </article>
  <br />
</div>
{{ end }}
