{{ $path := "changelog.yml" }}
{{ $data := slice }}
{{ with resources.Get $path }}
  {{ with .Err }}
    {{ errorf "Error fetching changelog: %s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ end }}
{{ $lastmonth := "" }}
{{ range $data }}
  {{ $month := time.Format "2006 January" .date }}
  {{ if (ne $lastmonth $month) }}
  {{ if (ne $lastmonth "") }}</ul>{{ end }}
  {{ partial "anchor-heading.html" (dict "Text" $month "Level" 3 "Anchor" (time.Format "2006-01" .date)) }}
  <ul>
  {{ $lastmonth = $month }}
  {{ end }}
  <li>
    <p>{{ .desc | markdownify }}</p>
  </li>
{{ end }}
</ul>
