<div class="box guestbook">
  <form action="/guestbook/success/" name="guestbook" method="POST" data-netlify="true">
    <p><label>Your name</label></p>
    <p><input required type="text" name="name" size="50" /></p>

    <p><label>Your website <small>(optional)</small></label></p>
    <p><input type="url" type="text" name="website" size="50" /></p>

    <p><label>Message</label></p>
    <textarea required rows="3" cols="50" name="message"></textarea>
    <div style="text-align: right">
      <input type="submit" value="Send 💌"></input>
    </div>
  </form>
</div>
