<div class="box guestbook">
  <form action="/guestbook/teacup/"
        name="gb"
        method="POST"
        data-netlify="true"
        netlify-honeypot="coffee-cup">
    <p><label>Your name</label></p>
    <p><input required type="text" name="name" size="50" /></p>

    <p><label>Your website <small>(optional)</small></label></p>
    <p><input type="url" type="text" name="website" size="50" /></p>

    <p><label>Message</label></p>
    <textarea style="min-height: 7rem" required rows="3" cols="50" name="message"></textarea>

    <p class="coffee-cup">
      <label>Email <small>(optional)</small></label>
      <input name="coffee-cup" type="text" />
    </p>

    <p><label>Book recommendation <small>(optional)</small></label></p>
    <textarea style="min-height: 3rem;" rows="2" cols="50" name="book"></textarea>

    <div style="text-align: right">
      <input type="submit" value="Sign 💌"></input>
    </div>
  </form>
</div>
