{{ $path := "webrings.yml" }}
{{ $data := slice }}
{{ with resources.Get $path }}
  {{ with .Err }}
    {{ errorf "Error fetching webrings: %s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ end }}
<div class="webrings">
  <ul>
    {{ range $data }}
    <li>
      <p>
        <a title="Previous" class="arrow" referrerpolicy="strict-origin" href="{{ .previous }}">⇐</a>
        <span>
          <a href="{{ .url }}">{{ .name }}</a>
          {{ with .random }}
          <a class="icon" style="height: 16px; width: 16px; display: inline-block; vertical-align: middle; text-decoration: none; border-radius: 100%; background-color: var(--accent-bg); padding: 5px" title="Random" aria-label="random" referrerpolicy="strict-origin" href="{{ . }}">{{ (resources.Get "icons/shuffle.svg").Content | safeHTML -}}<span hidden="">[random]</span></a>
          {{ end }}
        </span>
        <a title="Next" class="arrow" referrerpolicy="strict-origin" href="{{ .next }}">⇒</a>
      </p>
    </li>
    {{ end }}
  </ul>
</div>
