{{ $path := "webrings.yml" }}
{{ $data := slice }}
{{ with resources.Get $path }}
  {{ with .Err }}
    {{ errorf "Error fetching webrings: %s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ end }}
<div class="webrings">
  <ul>
    {{ range $data }}
    <li>
      <p><a href="{{ .url }}"><strong>{{ .name }}</strong></a></p>
      <p style="flex-grow: 1; vertical-align: middle;">{{ .desc | markdownify }}</p>
      <p>
        <a class="arrow" title="Previous" class="arrow" referrerpolicy="strict-origin" href="{{ .previous }}">⇐</a>
        {{ with .random }}
        <span>
          <a title="Random" aria-label="random" referrerpolicy="strict-origin" href="{{ . }}">
          <!-- <span class="icon" style="height: 16px; width: 16px; display: inline-block; text-decoration: none; vertical-align: top; border-radius: 100%; background-color: var(--accent-bg); padding: 5px; margin-right: .5rem" ></span> -->
            🎲 Random
          </a>
        </span>
        {{ end }}
        <a class="arrow" title="Next" class="arrow" referrerpolicy="strict-origin" href="{{ .next }}">⇒</a>
      </p>
    </li>
    {{ end }}
  </ul>
</div>
